@model IEnumerable<WebDiplomaBot.Models.Template>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Target
        </th>
        <th>
            Replacement
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Replacement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemplateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemplateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemplateID })
        </td>
    </tr>
}

</table>
